.cardsList {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 20px;
  align-items: start;
}

.CardItem {
  height: 100%;
}

.counter {
  font-weight: 600;
  margin-bottom: 45px;
  border-bottom: 1px solid #eaeaea;
}
